.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 1;
  animation: appearance 1s;
}

.outter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.inner {
  background-color: rgb(238, 238, 238);
  max-width: 30rem;
  max-height: 20rem;
  border-radius: 10px;
  border: solid 1px black;
  padding: 1rem 2rem;
  text-align: center;
  animation: appearance 1s;
}

h3 {
  word-break: break-word;
}

.date {
  text-align: left;
  margin-bottom: 1rem;
  font-style: italic;
}
.description {
  margin-top: 1rem;
  word-break: break-word;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
